<a href="https://colab.research.google.com/github/Delta9529/Mini-Bootcamp-Python-Pandas-Matplotlib-NLP/blob/main/Pandas_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Overview
Dear Learner,

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19

Dataset Link: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

Resources: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

###**Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')

In [ ]:
df.head(10)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020      Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020        Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020        Guizhou  ...       1.0    0.0        0.0
8    9      01/22/2020         Hainan  ...       4.0    0.0        0.0
9   10      01/22/2020          Hebei  ...       1.0    0.0        0.0

[10 rows x 8 columns]

In [ ]:
df.describe(include = 'all')

                 SNo ObservationDate  ...        Deaths      Recovered
count   40805.000000           40805  ...  40805.000000   40805.000000
unique           NaN             143  ...           NaN            NaN
top              NaN      06/12/2020  ...           NaN            NaN
freq             NaN             729  ...           NaN            NaN
mean    20403.000000             NaN  ...    465.412621    2728.499547
std     11779.533204             NaN  ...   2392.737598   16413.103519
min         1.000000             NaN  ...      0.000000       0.000000
25%     10202.000000             NaN  ...      0.000000       0.000000
50%     20403.000000             NaN  ...      7.000000      29.000000
75%     30604.000000             NaN  ...     82.000000     570.000000
max     40805.000000             NaN  ...  41128.000000  547386.000000

[11 rows x 8 columns]

In [ ]:
df.rename(columns={'Last Update':'LU'},inplace = True)

In [ ]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
LU                  object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [ ]:
df[['ObservationDate','LU']] = df[['ObservationDate','LU']].apply(pd.to_datetime)

In [ ]:
df[['ObservationDate','LU']].dtypes

ObservationDate    datetime64[ns]
LU                 datetime64[ns]
dtype: object

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [ ]:
updated_data = df[df.LU == '2020-06-13 03:33:14']
updated_data.shape

(729, 8)

In [ ]:
updated_data.head(2)

         SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
40076  40077      2020-06-12            NaN  ...   23546.0  446.0     3928.0
40077  40078      2020-06-12            NaN  ...    1416.0   36.0     1034.0

[2 rows x 8 columns]

In [ ]:
updated_data.nunique()

SNo                729
ObservationDate      1
Province/State     548
Country/Region     190
LU                   1
Confirmed          669
Deaths             316
Recovered          502
dtype: int64

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [ ]:
top10 = updated_data.groupby(updated_data['Country/Region']).sum()
top10.head()

                  SNo  Confirmed  Deaths  Recovered
Country/Region
Afghanistan     40077    23546.0   446.0     3928.0
Albania         40078     1416.0    36.0     1034.0
Algeria         40079    10698.0   751.0     7322.0
Andorra         40080      853.0    51.0      781.0
Angola          40081      130.0     5.0       42.0

In [ ]:
top10 = top10.sort_values(by ='Confirmed',ascending = False).head(10)
top10

                    SNo  Confirmed    Deaths  Recovered
Country/Region
US              2351413  2048986.0  114669.0   547386.0
Brazil          1094094   828810.0   41828.0   445123.0
Russia          3365442   510761.0    6705.0   268862.0
India           1458478   297535.0    8498.0   147195.0
UK               607266   294402.0   41566.0     1282.0
Spain            808238   243209.0   27136.0   150376.0
Italy            851428   236305.0   34223.0   173085.0
Peru            1052718   214788.0    6088.0   107133.0
France           445634   193220.0   29377.0    72695.0
Germany          688860   187226.0    8783.0   171535.0

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' 

where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

* Print the top 3 countries with highest recovery precent

In [ ]:
top10['Recovered_Percentage'] = top10['Recovered']/top10['Confirmed']*100
top10['Death_Percentage'] = top10['Deaths']/top10['Confirmed']*100
top10

                    SNo  Confirmed  ...  Recovered_Percentage  Death_Percentage
Country/Region                      ...
US              2351413  2048986.0  ...             26.714970          5.596378
Brazil          1094094   828810.0  ...             53.706278          5.046754
Russia          3365442   510761.0  ...             52.639493          1.312747
India           1458478   297535.0  ...             49.471491          2.856135
UK               607266   294402.0  ...              0.435459         14.118790
Spain            808238   243209.0  ...             61.829949         11.157482
Italy            851428   236305.0  ...             73.246440         14.482554
Peru            1052718   214788.0  ...             49.878485          2.834423
France           445634   193220.0  ...             37.622917         15.203913
Germany          688860   187226.0  ...             91.619220          4.691122

[10 rows x 6 columns]

In [ ]:
top3 = top10.sort_values(by = 'Recovered_Percentage',ascending = False).head(3)
top3

                   SNo  Confirmed  ...  Recovered_Percentage  Death_Percentage
Country/Region                     ...
Germany         688860   187226.0  ...             91.619220          4.691122
Italy           851428   236305.0  ...             73.246440         14.482554
Spain           808238   243209.0  ...             61.829949         11.157482

[3 rows x 6 columns]