<a href="https://colab.research.google.com/github/Delta9529/Mini-Bootcamp-Python-Pandas-Matplotlib-NLP/blob/main/Python_Basics_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Overview: 
Use simple python functions to solve the given task!!

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
T = ('python ')*5
T

'python python python python python '

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:
print(T)
string_length = len(T)
for s in range(string_length):
  if s%2==0:
    print(T[s])

python python python python python
p
t
o

y
h
n
p
t
o

y
h
n
p
t
o

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [ ]:
def avg(a):
  return sum(a)/len(a)

a = [5,7,4,9,2]
average = avg(a)
average

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [ ]:
def leapyear(year):
  if((year % 4 == 0) or (year % 4 == 0 and year % 100 != 0)):
    print('It is a Leap Year');
  else:
    print('It is not a leap year')

year = int(input('Enter year: '))
leapyear(year)

Enter year: 2000
It is a Leap Year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [ ]:
I = [21,6,12,57,35,61]
I.sort()
print(I)
Sum = I[1]+I[-2]
Sum

[6, 12, 21, 35, 57, 61]

69